@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
      background-color: #dad7cd;
}
section{
 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.banner {
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100%;
  
}


header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}




.navegacao{
    margin-left: 45%;
    margin-top: -3%;
   

}


header .navegacao ul{
    position: relative;font: bold;
    display: flex;
}
header .navegacao span{
    list-style: none;
}
header .navegacao span a{
    display: inline-block;
    color: #3e3e53;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 50px;
    font: bold;
    
}


.texto1 p{
  
    margin-top: 3%;
    margin-left: 3%;
}
.texto1 {

    margin-top: 7%;
    margin-bottom: 2%;
    
    
      
  }
  






.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}
.gallery-items{
    width: 280px;
    height: 280px;
    border: 10px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}
.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-items:hover{
    transform: scale(1.3);
}




 
 
 .texto {
   color: #3e3e53;
  
   
 }
 
 .texto .container {
   flex-direction: column;
   width: 80%;
   margin-left: 15%;
   margin-top: 10%;
  
 
 }
 
 .h2 .container {
 
   margin-top: 5%;
   color: 
   #3e3e53;
 
 }
 
 
 
 .boxes {
   display: flex;
   padding: 2% 0;
   gap: 1.5%;
   justify-content: space-around;
   flex-direction: row;
   width: 100%;
   height: 70%;
 }
 
 .box {
   flex-direction: column;
   display: flex;
   align-items: center;
   width: 50%;
   height: 100%;
   padding: 4%;
 }
 .box h1 {
   margin-top: 5%;
   color: 
   #3e3e53;
 }
 .box hr {
   width: 50%;
   border: 1px solid 
   #3e3e53;
   margin: 1% 0% 7% 0%;
 }
 
 .box p {
   text-align: center;
   font-size: 1.3vw;
 
   color: 
   #3e3e53;
 
 }
 
 .harmonia {
   width: auto;
   height: auto;
   max-width: 80%;
 }
 
 .partitura {
   width: auto;
   height: auto;
   max-width: 80%;
 }
 
 .ritmo{
   width: auto;
   height: auto;
   max-width: 70%;
 }



  .footer {
    
    height: 40px;
    backdrop-filter: contrast(80%);
    border-top: 2px solid #3e3e53;
    /* borda do foorter */
    color: #3e3e53;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    

}


.footer .container {

    justify-content: center;
    align-items: center;
    height: 100%;
    color: #3e3e53;
    background-color: #3e3e53;
   

}


