@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    

    
}
.imagem{
    position: absolute;
    display: flex;
    width: 100%;
    height: 150%;
    z-index: -2
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 

.navegacao{
    margin-left: 50%;
    margin-top: -3%;
    
    
   

}


header .navegacao ul{
    position: relative;font: bold;
    display: flex;
}
header .navegacao span{
    list-style: none;
}
header .navegacao span a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 50px;
    font: bold;
    
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6%;
}
.content .texto{
    position: relative;
    bottom: 40px;
    max-width: 600px;
    margin-left: 30px;
}
.content .texto h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 2px;
    line-height: 70px;
    font-weight: 300;
    
}
.content .texto h2 span{
    font-size: 70px;
    color: #afc7b9;
   
}
.content .texto p{
    color: #fff;
}
.content .texto a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 30px;
    background: #afc7b9;
    color:black;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    
}

.footer {
    
    height: 40px;
    backdrop-filter: contrast(80%);
    border-top: 2px solid #fff;
    /* borda do foorter */
    color: #fff;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    

}


.footer .container {

    justify-content: center;
    align-items: center;
    height: 100%;
   

}

h4{
    align-items: center;
    margin-top: auto ;
    color: #fff;

}




