@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #090a13;
}
section{
 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.banner {
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100%;
  
}


header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}




.navegacao{
    margin-left: 45%;
    margin-top: -3%;
   

}


header .navegacao ul{
    position: relative;font: bold;
    display: flex;
}
header .navegacao span{
    list-style: none;
}
header .navegacao span a{
    
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 50px;
    font: bold;
    
}

a:hover, .active {
    color:#afc7b9!important;
}




.formulario {
    

    border-radius: 10px;
    padding: 30px;
    margin: 50px auto;
    max-width: 500px;
   color: white;
    
    box-shadow:-5px 11px 11px -1px rgba(	
        100,100,100)
}


span {
    display: block;
    margin-bottom:10px;
    color: white;
}
input[type=text], textarea {
    color: white;
    width: 100%;
    padding: 15px 30px;
    margin: 8px 0;
    box-sizing: border-box; /* colocar os input dentro do form*/
    border: 3px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    border-radius: 25px ;
}
input[type=submit] {
    background-color: #bbdeea;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}



input[type=submit]:hover {
    background-color: #DFEDFF;
}






    



.chart-container{
    margin-bottom: 15%;
    margin-top: 15%;
    
    
  
    }

    

    .container {
        width: 80%;
        height: 70%;
       margin: auto;
       align-items: center;
       
      
        
    }

    audio {
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    h1 {
        color: #afc7b9;
        border-color: black;
        margin-top: 8%;
        margin-bottom: 5%;
        text-align: center;
    }

    span {
        justify-content: center;
        align-items: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        color: #fff;
        
    }

    .box {
        display:flex;
        flex-direction: row;
        
   
    }

    .box2 {
        display:flex;
        flex-direction: row;
        
   
    }

    .box div{
        padding: 4%;
        
    }

    .box2 div{
        padding: 4%;
        
    }
   




   
    .footer {
        
        height: 40px;
        backdrop-filter: contrast(80%);
        border-top: 0.4px solid #Fff;
        /* borda do foorter */
        color: #Fff;
        bottom: 0;
        
        width: 100%;
        text-align: center;
        
      
      }
      
      
      .footer .container {
      
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 0.5%;
       
      
      }
      
      h4{
        align-items: center;
        margin-top: auto ;
       
        
        color: #Fff;
      
      }
      
      
      
      
      